*{
    margin:0;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh;
    position:relative;
    overflow-x: hidden;
}
.container{
    width: 100%;
    display: flex;
}
.header, .main-feature, .footer{
    flex-direction: column;
}

/* common features */
nav{
    width:100%;
    height: 42px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.community, .influencer, .services, span{
    font-family: Inter, sans-serif;
}
.community h5, .influencer h5, .services h5{
    font-size: 30px;
    color:hsla(240, 10%, 14%, 1);
    margin: 8px 0 14px 0;
}
.community p, .influencer p, .services p{
    margin-bottom: 30px;
}
h1, h3, h5{
    font-family: Poppins, sans-serif;
    font-size: 40px;
    font-weight: 600;
}
h3{
    line-height: 60px;
    color: hsla(240, 10%, 14%, 1);
}
h4{
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2em;
}
h5{
    line-height: 40px;   
}
p{
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.01em;
    color:hsla(180, 21%, 33%, 1);
}
ul{
    width:325px;
    display: flex;
    justify-content: space-between;
    list-style: none;   
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 16px;
}
a{
    color: hsla(240, 6%, 28%, 1);
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    text-decoration: none;
}
a img{
    position: relative;
    top: 3px;
}
button{
    font-family: Inter, sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    color:hsla(11, 100%, 99%, 1);
    background-color: hsla(259, 36%, 16%, 1);
    border:none;
    border-radius: 26px;
}
.designer-logo p{
    font-family: Lekton, sans-serif;
    font-size: 34px;
    font-weight: 700;
    line-height: 35px;
    text-align: left; 
}

.request img{
    position: relative;
    top: 3px;
}
/* header */
.header{
    height: 1031px;
}
.header-content{
    height: 480px;
    background: radial-gradient(96.32% 571.83% at 98.4% 19.88%, #8FB3FF 0%, #9D6BE8 27.72%, #DE2778 54.29%, #B03DE2 100%);
}
.main-header{
    height: 480px;
    background-image: url(./icons/curvebg.svg);
    background-repeat: no-repeat;
    background-size:cover;
}
header .designer-logo p{
    color: hsla(0, 0%, 100%, 1);
}
header nav{
    position: absolute;
    top: 25px;
}

header ul{
    color: hsla(0, 0%, 100%, 0.94); 
}

.demo p{
    padding: 12px 20px;
    color:hsla(11, 100%, 99%, 1);
    background-color:hsla(0, 0%, 100%, 0.2);
    border-radius: 21px;
}
.header-details{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap:170px;
    position: absolute;
    top: 190px;
}
.mask-group{
    width: 571px;
    text-align: left;
    position: relative;
    top: 70px;
}
.mask-group h1{
    width:571px;
    background: -webkit-linear-gradient(96.46deg, #C87C00 3.72%, #8B3208 31.05%, rgba(83, 32, 15, 0.82) 68.54%, #010420 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 94px;
    line-height: 108px;
    margin-bottom: 20px;
}

.mask-group p{
    width:490px;
    line-height: 30px;
    color: hsla(210, 21%, 33%, 1);
    margin-bottom: 40px;
}
.mask-group button{
    padding: 17px 30px;
}
.clients{
    height: 117px;
    width: 1200px;
    position: absolute;
    top:876px;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch; 
}
.clients h2{
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-align: center;
    color:hsla(216, 8%, 72%, 1);   
}

/* main-feature */
.main-feature{
    height: 604px;
    position: absolute;
    top:1031px;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
.main-feature-content h3{
    line-height: 60px;
    color:hsla(240, 10%, 14%, 1);
    margin: 82px 0 10px 0;
}
.main-feature-content p{
    width:551px;
}
.main-feature .details{
    position: absolute;
    top: 293px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:140px;
}
.influencer{
    width:340px;
    text-align: left;
}
.influencer h4{   
    color:hsla(285, 69%, 55%, 1);
}
/* sub-feature */
.sub-feature{
    height:378px;
    position: absolute;
    top:1635px;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap:180px;
}
.community-image{
    position: relative;
    top: 50px;

}
.community{
    width: 351px;
}
.community h4{
    color: hsla(41, 96%, 59%, 1);   
}
/* main-services */
.main-services{
    height:392px;
    position: absolute;
    top:2013px;
    justify-content: center;
    align-items: center;
    gap:97px;
}
.services{
    width: 354px;
}
.services h4{
    color:hsla(333, 73%, 51%, 1);
}
/* countdown */
.countdown{
    position: absolute;
    height: 670px;
    top: 2405px;   
    align-items:center; 
}
.countdown-details{
    height: 590px;
    width: 100%;
    background-color: hsla(259, 35%, 16%, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.countdown-content{
    text-align: center;
}
.countdown-content h3{
    width: 735px;
    line-height: 50px;
    color: hsla(0, 0%, 100%, 1);
    margin: 120px 353px 18px 353px;
}
.countdown-content p{
    width: 562px;
    color: hsla(180, 9%, 53%, 1);
    margin: 0 443px 118px 435px;
}
.figures{
    display: flex;
    width: 850px;
    justify-content: space-between;
    text-align: left;
}
.figures h5{
    color: hsla(0, 0%, 100%, 1);
}
.figures p{
    font-size: 14px;
    line-height: 14px;
    color: hsla(180, 10%, 53%, 1);
    margin-top: 10px;
}
/* sub-services */
.sub-services{
    position: absolute;
    height: 768px;
    top: 3075px; 
    flex-direction: column;
    align-items: center;
}
.sub-services .details h3{
    margin: 90px 475px 10px;
}
.sub-services .details p{
    width:551px;
    text-align: center;
    margin: 10px 444px 80px;
}
.market{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:25px;
}
.rebel-clothing .info{
    background-color: hsla(0, 0%, 100%, 1);
    width:272px;
    height:175px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    line-height: 24px;
    position:relative;
    bottom: 90px;
    box-shadow: 0px 40px 100px -30px rgba(0, 0, 0, 0.04);
    border-radius: 0px 0px 2px 2px;
}
.info h4{
    font-size: 16px;
    color:hsla(240, 6%, 25%, 1);
    padding: 22px 0 20px 25px;
}
.info-details{
    height: 42px;
    display: flex;
    justify-content: space-around;
    align-items:center;
}
.info p{
    font-size: 24px;
    color:hsla(240, 10%, 14%, 1); 
}
.info span{
    font-size: 10px;
    font-weight: 500;
    line-height: 10px;
    color:hsla(240, 9%, 70%, 1);
}
.info a{
    color: hsla(285, 69%, 55%, 1);
    margin-left:25px;
    position:relative;
    top: 22px;
}
/* testimonials */
.testimonials{
    position: absolute;
    height: 843px;
    top: 3843px;
    justify-content: center;
    align-items: center;
}
.testimonials-content{
    width: 976px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.heading{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    gap:35px;
}
.testimonial-details{
    width:551px;
    text-align: center;
}
.testimonial-1{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
.fore-closure{
    width: 477px;
}
.fore-closure p{
    font-size: 22px;
    font-style: italic;
    font-weight: 500;
    line-height: 36px;
}
.ceo{
    margin-top: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ceo p{
    font-family: Lato, sans-serif;
    font-style: normal;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    color:hsla(240, 2%, 11%, 1);
}
.ceo span{
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    color:hsla(40, 6%, 59%, 1);
}
.ceo img{
    position: relative;
    top: 25px;
}
.image-line{
    position: relative;
}
.image-line::after{
    content: "";
    width: 254px;
    height: 2px;
    background-color:hsla(205, 60%, 42%, 1);
    position: absolute;
    top: 476px;
    right: 54px;
}

/* newsletter */
.newsletter{
    position: absolute;
    height: 380px;
    top: 4686px;
    justify-content: center;
    align-items: center;  
}
.bg-color, .subscribe{
    border-radius: 20px;
}
.bg-color{
    background:radial-gradient(96.32% 571.83% at 98.4% 19.88%, #8FB3FF 0%, #9D6BE8 27.72%, #DE2778 54.29%, #B03DE2 100%); 
}
.subscribe{
    width: 976px;
    height: 322px;
    text-align: center;
    background-image: url(./icons/curvebg.svg);
    background-repeat:no-repeat;
    background-size: contain;
    background-position: bottom;
}
.subscribe h3{
    color: hsla(0, 0%, 100%, 1);
    position: relative;
    top: 51px;
}
.subscribe p{
    width:551px;
    position: relative;
    top: 55px;
    margin: 4px 212px 28px;
    color:hsla(0, 0%, 100%, 0.83);
}
.subscribe button{
    position: relative;
    top: 50px;
    padding: 17px 42px;
}
/* footer */
.footer{
    position: absolute;
    height: 231px;
    top: 5066px;
    justify-content: center;
    align-items: center;
}

.footer-details{
    height: 120px;
    width: 976px; 
    display: flex;  
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
footer nav{
    justify-content: space-between;
}
footer .designer-logo p{
    color :hsla(0, 0%, 10%, 1);
}
footer ul{
    color:hsla(0, 0%, 20%, 1);
}
.socials{
    width: 88px;
    height: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bottom p{
    font-size: 11px;
    color: hsla(0, 0%, 58%, 1);
}
.line-2{
    width: 100%;
    height: 1px;
    background:hsla(240, 14%, 90%, 1);
}

